.App{
  position: relative;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "~bootstrap/scss/bootstrap";
@import './variables';
@import './menus/menus.scss';
@import './layouts/layout_one/layout_one.scss';

// line chart
@import './pages/ReactChartsLineChart/line_chart.scss';

// pie chart 
@import './pages/NivoPie/pie_chart_one.scss';


// user_dashboard_page
@import './pages/user_dashboard_page/user_dashboard_page.scss';

body{
  background-color: $bs-dark;
  canvas{
    color: 'white'
  }
}